extends layout
head
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/js/custom.js')

block content
    h1= "Welcome " + user.username + "!"
    hr
    script(type='text/javascript').
        var caretakerUsername = "#{user.username}";
        function formatAlert(alert){
            var alertEntry = document.createElement('li');
            alertEntry.setAttribute("class","list-group-item");
                //create elder name row
                var elderRow = document.createElement('div');
                elderRow.setAttribute("class", "row alert-entry-row");
                //create header with elder name
                    var elderHeading = document.createElement('h4');
                    elderHeading.setAttribute("class", "boldText");
                    var alertIcon = document.createElement('span');
                    alertIcon.setAttribute("class", "glyphicon glyphicon-exclamation-sign glyph-padd");
                    elderHeading.appendChild(alertIcon);
                    //create and append text
                    var elderName = document.createTextNode("Alert for: "+ alert.elder);
                    elderHeading.appendChild(elderName);
                //append header to elder name row, then append to list entry
                elderRow.appendChild(elderHeading);
                alertEntry.appendChild(elderRow);
                //create time row
                var alertTimeRow = document.createElement('div');
                alertTimeRow.setAttribute("class", "row alert-entry-row");
                //create header with elder name
                    var timeHeading = document.createElement('h4');
                    var alertTimeIcon = document.createElement('span');
                    alertTimeIcon.setAttribute("class", "glyphicon glyphicon-time glyph-padd");
                    timeHeading.appendChild(alertTimeIcon);
                    //create and append text
                    var alertDateStr = new Date(alert.createdAt).toDateString();
                    var alertTimeStr = new Date(alert.createdAt).toLocaleTimeString();
                    var alertTime = document.createTextNode("As of: " +alertDateStr+" at "+ alertTimeStr);
                    timeHeading.appendChild(alertTime);
                //append header to elder name row, then append to list entry
                alertTimeRow.appendChild(timeHeading);
                alertEntry.appendChild(alertTimeRow);                
                //create message row
                var alertMessageRow = document.createElement('div');
                alertMessageRow.setAttribute("class", "row alert-entry-row");
                //create header with elder name
                    var messageHeading = document.createElement('h4');
                    //create and append text
                    var alertMessage = document.createTextNode(alert.message);
                    messageHeading.appendChild(alertMessage);
                //append header to elder name row, then append to list entry
                alertMessageRow.appendChild(messageHeading);
                alertEntry.appendChild(alertMessageRow);
            return alertEntry;
        };
        var getOngoingAlerts = function(username){
            $.get(caretakerUsername+'/getOngoingAlerts/', function(data){
                var ongoingAlertList = document.getElementById('ongoingAlerts');
                if (data.length > 0){
                    for (var a = 0; a < data.length; a++){
                    var alert = data[a];
                    console.log(alert)
                    var alertId = alert.objectId;
                    var alertListEntry = formatAlert(alert);
                    var dismissForm = document.createElement('form');
                    dismissForm.setAttribute("method", "post");
                    var dismiss_btn = document.createElement('button');
                    dismiss_btn.setAttribute("class", "btn btn-default btn-primary btn-block btn-red");
                    dismiss_btn.setAttribute('type', 'submit');
                    dismiss_btn.setAttribute('formaction', caretakerUsername+'/dismissAlert/'+alertId);
                    var dismissBtnText = document.createTextNode("Dismiss Alert");
                    dismiss_btn.appendChild(dismissBtnText);
                    alertListEntry.appendChild(dismiss_btn);
                    dismissForm.appendChild(alertListEntry)
                    ongoingAlertList.appendChild(dismissForm);
                    }
                }
                else{
                    var ongoingAlertPanel = document.getElementById('ongoingAlertPanel')
                    var noAlert = document.createElement("h4");
                    noAlert.setAttribute("style", "margin:10px;")
                    var noAlertStr = document.createTextNode("No ongoing alerts at this time.");
                    noAlert.appendChild(noAlertStr);
                    ongoingAlertPanel.appendChild(noAlert);
                }
            }); 
        };
        var getDismissedAlerts = function(username){
            $.get(username+'/getDismissedAlerts/', function(data){
                var ongoingAlertList = document.getElementById('dismissedAlerts');
                for (var a = 0; a < data.length; a++){
                    var alert = data[a];
                    var alertListEntry = formatAlert(alert);
                    ongoingAlertList.appendChild(alertListEntry);
                }
            }); 
        }
        window.onload = getOngoingAlerts(caretakerUsername);
        window.onload = getDismissedAlerts(caretakerUsername);

    .row
        .col-xs-6#alertpanel
            .panel.panel-blue
                .panel-heading Ongoing Alerts
                .panel-body.alert-panel-body#ongoingAlertPanel
                    ul(id='ongoingAlerts').list-groups.list-group-no-padding
        .col-xs-6#alertpanel
            .panel.panel-blue
                .panel-heading Alert History
                .panel-body.alert-panel-body#alertHistoryPanel
                    ul(id='dismissedAlerts').list-groups.list-group-no-padding
        
    if(elders)
        script(type='text/javascript').
            var eldersStr = "#{elders}";
            var eldersArray = eldersStr.split(",");
            var loadMap = function(username){
                    $.get(username+'/getGeoData/', function(data){
                        //geofence configuration
                        //- console.log("get request for: " +username)
                        var geofences = {};
                        geofences['test'] = {
                          center: new google.maps.LatLng(data.gfLat,data.gfLon),
                          radius: data.gfRadius * 1000
                        };
                        //map options: centered @ current location
                        var current_lat = data.mostRecentLocation.latitude;
                        var current_lon = data.mostRecentLocation.longitude;
                        var currentLocation = new google.maps.LatLng(current_lat,current_lon);
                        var myOptions = {
                            zoom: 9,
                            center: currentLocation
                        };
                        //initialize 3 maps
                        var maps = [];
                        var current_map = new google.maps.Map(document.getElementById("current_map_"+username),
                            myOptions);
                        maps.push(current_map);
                        var daily_map = new google.maps.Map(document.getElementById("daily_map_"+username),
                            myOptions);
                        maps.push(daily_map);
                        var weekly_map = new google.maps.Map(document.getElementById("weekly_map_"+username),
                            myOptions);
                        maps.push(weekly_map);
                        //set current location marker
                        for (var m = 0; m < maps.length; m++ ){
                            var location_marker = new google.maps.Marker({
                                position: currentLocation,
                                map: maps[m]
                            });
                            for ( var gf in geofences ){
                              var geofenceOptions = {
                                strokeColor: '#FF0000',
                                strokeOpacity: 0.8,
                                strokeWeight: 2,
                                fillColor: '#FF0000',
                                fillOpacity: 0.35,
                                map: maps[m],
                                center: geofences[gf].center,
                                radius: geofences[gf].radius
                              };
                              geofenceCircle = new google.maps.Circle(geofenceOptions);
                            }
                        }
                        //daily/weekly location path
                        var dailyPathPoints = [];
                        var weeklyPathPoints = [];
                        for (var i = 0; i < data.locations.length; i++){
                            //- console.log(data.locations[i]);
                            var latitude = data.locations[i].geopoint.latitude;
                            //- console.log("lattitude:" + latitude);
                            var longitude = data.locations[i].geopoint.longitude;
                            var point = new google.maps.LatLng(latitude, longitude);
                            if(Date.now() - data.locations[i].date < 604800000) {
                            //if timestamp within week, add to week array
                                dailyPathPoints.push(point);
                            } else {
                            //if timestamp within day, add to daily array
                                weeklyPathPoints.push(point);
                            }
                        }
                        var dailyPath = new google.maps.Polyline({
                          path: dailyPathPoints,
                          geodesic: true,
                          strokeColor: '#009ED9',
                          strokeOpacity: 1.0,
                          strokeWeight: 2
                        });
                        dailyPath.setMap(daily_map);
                        var weeklyPath = new google.maps.Polyline({
                          path: dailyPathPoints,
                          geodesic: true,
                          strokeColor: '#009ED9',
                          strokeOpacity: 1.0,
                          strokeWeight: 2
                        });
                        weeklyPath.setMap(weekly_map);
                        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                            google.maps.event.trigger(current_map, 'resize');
                            google.maps.event.trigger(daily_map, 'resize');
                            google.maps.event.trigger(weekly_map, 'resize');
                            current_map.setCenter(currentLocation);
                            daily_map.setCenter(currentLocation);
                            weekly_map.setCenter(currentLocation);
                        });
                    }); // end of $.get()
                }; // end of loadMap
                function formatTripEntry(trip){
                    var tripEntry = document.createElement('li');
                    tripEntry.setAttribute("class","list-group-item");
                        //create trip name row
                        var tripNameRow = document.createElement('div');
                        tripNameRow.setAttribute("class", "row trip-row");
                            //create name header
                            var tripNameHeading = document.createElement('h4');
                            tripNameHeading.setAttribute("class", "boldText");
                                //create and append calendar icon
                                var calendarIcon = document.createElement('span');
                                calendarIcon.setAttribute("class", "glyphicon glyphicon-calendar glyph-padd");
                                tripNameHeading.appendChild(calendarIcon);
                                //create and append text
                                var tripName = document.createTextNode(trip.tripName);
                                tripNameHeading.appendChild(tripName);
                        //append heading to row
                        tripNameRow.appendChild(tripNameHeading);
                        //append row to list-item
                    tripEntry.appendChild(tripNameRow);
                        //create trip start time row
                        var tripTimeLeftRow = document.createElement('div');
                        tripTimeLeftRow.setAttribute("class", "row trip-row");
                            //create time header
                            var tripTimeLeftHeading = document.createElement('h4');
                            //create and append calendar icon
                                var hourglassIcon = document.createElement('span');
                                hourglassIcon.setAttribute("class", "glyphicon glyphicon-hourglass glyph-padd");
                                tripTimeLeftHeading.appendChild(hourglassIcon);
                                //create and append text
                                var start = new Date(trip.startDate.iso);
                                var end = new Date(trip.endDate.iso);
                                var secondsLeft = (end-start) /1000;
                                var days = parseInt(secondsLeft/86400);
                                secondsLeft= secondsLeft % 86400;
                                var hours = parseInt(secondsLeft/3600);
                                secondsLeft = secondsLeft % 3600;
                                var minutes = parseInt(secondsLeft/60);
                                var seconds = parseInt(secondsLeft % 60);
                                var tripTimeLeft = document.createTextNode("Duration: " + days +" days, "+hours+" hours, "+minutes+ "min, "+ seconds+ "sec");
                                tripTimeLeftHeading.appendChild(tripTimeLeft);
                        tripTimeLeftRow.appendChild(tripTimeLeftHeading);
                    tripEntry.appendChild(tripTimeLeftRow);
                        //create trip start time row
                        var tripStartTimeRow = document.createElement('div');
                        tripStartTimeRow.setAttribute("class", "row trip-row");
                            //create time header
                            var tripStartTimeHeading = document.createElement('h4');
                            //create and append calendar icon
                                var timeIcon = document.createElement('span');
                                timeIcon.setAttribute("class", "glyphicon glyphicon-time glyph-padd");
                                tripStartTimeHeading.appendChild(timeIcon);
                                //create and append text
                                var startDate = new Date(trip.startDate.iso).toDateString();
                                var startTime = new Date(trip.startDate.iso).toLocaleTimeString();
                                var tripStartTime = document.createTextNode("Start Date: "+startDate + " at " + startTime);
                                tripStartTimeHeading.appendChild(tripStartTime);
                        tripStartTimeRow.appendChild(tripStartTimeHeading);
                    tripEntry.appendChild(tripStartTimeRow);
                        //create trip end time row
                        var tripEndTimeRow = document.createElement('div');
                        tripEndTimeRow.setAttribute("class", "row trip-row");
                            //create time header
                            var tripEndTimeHeading = document.createElement('h4');
                            //create and append calendar icon
                                var endIcon = document.createElement('span');
                                endIcon.setAttribute("class", "glyphicon glyphicon-log-in glyph-padd");
                                tripEndTimeHeading.appendChild(endIcon);
                                //create and append text
                                var endDate = new Date(trip.endDate.iso).toDateString();
                                var endTime = new Date(trip.endDate.iso).toLocaleTimeString();
                                var tripEndTime = document.createTextNode("End Date: "+endDate + " at " + endTime);
                                tripEndTimeHeading.appendChild(tripEndTime);
                        tripEndTimeRow.appendChild(tripEndTimeHeading);
                    tripEntry.appendChild(tripEndTimeRow);
                    return tripEntry;
                };
                var getTrips = function(username){
                    $.get(/elders/+username+'/getApprovedTrips/', function(data){
                        var approvedTripListId = 'approvedTrips_'+username;
                        //- console.log(data)
                        var tripList = document.getElementById(approvedTripListId);
                        if(data.length>0){
                            for (var t = 0; t < data.length; t++){
                            var trip = data[t];
                            var tripListEntry = formatTripEntry(trip);
                            tripList.appendChild(tripListEntry);
                                }
                        }
                        else{
                            var currentTripTab = document.getElementById('tabTripCurrent_'+username);
                            var noTrips = document.createElement("h4");
                            noTrips.setAttribute("style", "margin:15px;")
                            var noTripStr = document.createTextNode("No current trips at this time.");
                            noTrips.appendChild(noTripStr);
                            currentTripTab.appendChild(noTrips);
                        } 
                    }); 
                };
                var getUpcomingTrips = function(username){
                    $.get(/elders/+username+'/getUpcomingTrips/', function(data){
                        var upcomingTripListId = 'upcomingTrips_'+username;
                        //- console.log(data)
                        var upcomingTripList = document.getElementById(upcomingTripListId);
                        if (data.length > 0){
                            for (var t = 0; t < data.length; t++){
                            var trip = data[t];
                            var tripId = trip.objectId;
                            var tripForm = document.createElement('form');
                            tripForm.setAttribute("method", "post");
                            var tripListEntry = formatTripEntry(trip);
                            //cancel button
                            var cancel_btn = document.createElement('button');
                            cancel_btn.setAttribute("class", "btn btn-default btn-primary btn-block btn-red approve-deny-btn");
                            cancel_btn.setAttribute('type', 'submit');
                            cancel_btn.setAttribute('formaction', caretakerUsername+'/deleteTrip/'+tripId);
                            var cancelBtnTrip = document.createTextNode("Cancel Trip");
                            cancel_btn.appendChild(cancelBtnTrip);
                            tripListEntry.appendChild(cancel_btn);
                            tripForm.appendChild(tripListEntry);
                            upcomingTripList.appendChild(tripForm);
                            }
                        }
                        else{
                            var upcomingTripTab = document.getElementById('tabTripUpcoming_'+username);
                            var noTrips = document.createElement("h4");
                            noTrips.setAttribute("style", "margin:15px;")
                            var noTripStr = document.createTextNode("No upcoming trips at this time.");
                            noTrips.appendChild(noTripStr);
                            upcomingTripTab.appendChild(noTrips);
                        }
                    }); 
                };
                var getTripRequests = function(username){
                    $.get(/elders/+username+'/getTripRequests/', function(data){
                        var caretakerUsername = '#{user.username}';
                        var tripRequestListId = 'tripRequests_'+username;
                        var tripRequestList = document.getElementById(tripRequestListId);
                        if(data.length > 0){
                            for (var r = 0; r < data.length; r++){
                                var tripRequest = data[r];
                                var tripId = tripRequest.objectId;
                                var tripName = tripRequest.tripName;
                                var approveForm = document.createElement('form');
                                approveForm.setAttribute("method", "post");
                                //approveForm.setAttribute("action", caretakerUsername+'/approveTripRequest/'+tripId);
                                //add and append hidden value for tripname
                                var tripNameInput = document.createElement('input');
                                tripNameInput.setAttribute("type", "hidden");
                                tripNameInput.setAttribute("name", "tripToDelete");
                                tripNameInput.setAttribute("value", tripName);
                                approveForm.appendChild(tripNameInput);
                                //create and append list entry to form
                                var requestListEntry = formatTripEntry(tripRequest);
                                //create btn-group and btn-group-wrap
                                //var btnGroupWrap = document.createElement('div');
                                //btnGroupWrap.setAttribute("class", "btn-group-wrap");
                                //create and append submit button
                                var approve_btn = document.createElement('button');
                                approve_btn.setAttribute("class", "btn btn-default btn-primary btn-block btn-green approve-deny-btn");
                                approve_btn.setAttribute('type', 'submit');
                                approve_btn.setAttribute('formaction', caretakerUsername+'/approveTripRequest/'+tripId );
                                var approveBtnText = document.createTextNode("Approve Trip");
                                approve_btn.appendChild(approveBtnText);
                                //create and append deny button
                                var deny_btn = document.createElement('button');
                                deny_btn.setAttribute("class", "btn btn-default btn-primary btn-block btn-red approve-deny-btn");
                                deny_btn.setAttribute('type', 'submit');
                                deny_btn.setAttribute('formaction', caretakerUsername+'/deleteTrip/'+tripId);
                                var denyBtnText = document.createTextNode("Deny Trip");
                                deny_btn.appendChild(denyBtnText);
                                //add buttons to entry
                                requestListEntry.appendChild(approve_btn);
                                requestListEntry.appendChild(deny_btn);
                                approveForm.appendChild(requestListEntry);
                                tripRequestList.appendChild(approveForm);
                            }                            
                        }
                        else{
                            var tripRequestTab = document.getElementById('tabTripRequests_'+username);
                            var noTrips = document.createElement("h4");
                            noTrips.setAttribute("style", "margin:15px;")
                            var noTripStr = document.createTextNode("No trip requests at this time.");
                            noTrips.appendChild(noTripStr);
                            tripRequestTab.appendChild(noTrips);
                        }
                    }); 
                };
               for (var e = 0; e < eldersArray.length; e++){
                var username = eldersArray[e];
                window.onload = loadMap(username);
                window.onload = getTrips(username);
                window.onload = getTripRequests(username);
                window.onload = getUpcomingTrips(username);
                } 

      h2 Your Elders
      for item in elders
        h3= item
        .row
          .col-md-4.col-sm-6.col-xs-12
            .panel.with-nav-tabs.panel-default
                .panel-heading#with-tabs
                    .navbar-text Location
                    ul.nav.nav-tabs
                        li.active
                            a(href='#tabCurrentMap_'+item, data-toggle='tab') Current
                        li
                            a(href='#tabDailyMap_'+item, data-toggle='tab') Daily
                        li
                            a(href='#tabWeeklyMap_'+item, data-toggle='tab') Weekly
                .panel-body
                    .tab-content
                        div(id='tabCurrentMap_'+item, class='tab-pane fade active in')
                            div(id='current_map_'+item, class='map')
                        div(id='tabDailyMap_'+item, class='tab-pane fade')
                            div(id='daily_map_'+item, class='map')
                        div(id='tabWeeklyMap_'+item, class='tab-pane fade')
                            div(id='weekly_map_'+item, class='map')
          .col-md-4.col-sm-6.col-xs-12
              .panel.panel-default.elder-panel
                    .panel-heading#with-tabs
                        .navbar-text Settings
                        ul.nav.nav-tabs
                            li.active
                                a(href='#tabSetGeofence_'+item, data-toggle='tab') Geofences
                            li
                                a(href='#tabSetTrips_'+item, data-toggle='tab') Trips
                            li
                                a(href='#tabSetAlerts_'+item, data-toggle='tab') Alerts
                    .panel-body.elder-panel-body
                        .tab-content
                            div(id = 'tabSetGeofence_'+item, class='tab-pane fade in active')
                                form(method="post", action='/elders/'+ item + '/updateGeofence')
                                  br
                                  h3.label Latitude*
                                  input.form-control(type="number", step="any", name="latitude").required
                                  br
                                  h3.label Longitude*
                                  input.form-control(type="number", step="any", name="longitude").required
                                  br
                                  h3.label Radius*
                                  input.form-control(type="number", name="radius").required
                                  br
                                  button.btn.btn-lg.btn-primary.btn-block.btn-blue(type='submit') Update Geofence
                            div(id='tabSetTrips_'+item, class='tab-pane fade')
                                form(method="post", action='/elders/'+ item + '/addTrip') 
                                    br
                                    h3.label Trip Name*
                                    input.form-control(type="text", name="tripName", placeholder="Write a description or name for the trip...").required
                                    br
                                    h3.label Start Time*
                                    div(id='datetimepickerStart_'+item, class='input-group date')
                                        input.form-control(type="text", name="startDate").required
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                    br
                                    h3.label End Time*
                                    div(id='datetimepickerEnd_'+item, class='input-group date')
                                        input.form-control(type="text", name="endDate").required
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                    br
                                    input(type="hidden" name="approved" value="true")
                                    button.btn.btn-lg.btn-primary.btn-block.btn-blue(type='submit') Add Trip
                            div(id='tabSetAlerts_'+item, class='tab-pane fade')
                                form.form-horizontal(method='post', action =user.username+'/alertSettings')
                                    h4(style='margin: 10px') Set your alert notification preferences below:
                                    .row.alert-row
                                        .col-md-6
                                            h4(align='center') Email Notifications
                                        .col-md-6
                                            input(type='checkbox', id='email_toggle_'+item, name='email',checked='')
                                    .row.alert-row
                                        .col-md-6
                                            h4(align='center') SMS Notifications
                                        .col-md-6.col-centered
                                            input(type='checkbox', id='sms_toggle_'+item, name='sms',checked='') 
                                    h4(style='margin: 10px') Set your type of alert preferences below:
                                    .row.alert-row
                                        .col-md-6
                                            h4(align='center') No Motion Notifications
                                        .col-md-6
                                            input(type='checkbox', id='no_motion', name='no_motion',checked='')
                                    .row.alert-row
                                        .col-md-6
                                            h4(align='center') Geofence Notifications
                                        .col-md-6.col-centered
                                            input(type='checkbox', id='geofence', name='geofence',checked='') 
                                    button.btn.btn-lg.btn-primary.btn-block.btn-blue(type='submit') Update Alert Settings     
                            link(type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.css', rel='stylesheet')
                            script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.js')
                            script(type='text/javascript').
                                var switches = function (elderUsername) {
                                    var emailToggleStr = "[id='email_toggle_"+elderUsername;
                                    var email_switch = emailToggleStr.concat("']");
                                    var smsToggleStr = "[id='sms_toggle_"+elderUsername;
                                    var sms_switch = smsToggleStr.concat("']");
                                    $(email_switch).bootstrapSwitch({
                                        onColor:'success',
                                        size:'normal'
                                        });
                                    $(sms_switch).bootstrapSwitch({
                                        onColor:'success',
                                        size:'normal'
                                        });
                                    $(email_switch).bootstrapSwitch('state', #{email});
                                    $(sms_switch).bootstrapSwitch('state', #{sms});
                                    var nomotion_switch = "[id='no_motion']";
                                    var geofence_switch = "[id='geofence']";
                                    $(nomotion_switch).bootstrapSwitch({
                                        onColor:'success',
                                        size:'normal'
                                        });
                                    $(geofence_switch).bootstrapSwitch({
                                        onColor:'success',
                                        size:'normal'
                                        });
                                    $(nomotion_switch).bootstrapSwitch('state', #{nomotion});
                                    $(geofence_switch).bootstrapSwitch('state', #{geofence});
                                    var dateStartStr = "#datetimepickerStart_"+ elderUsername;
                                    var dateEndStr = "#datetimepickerEnd_"+ elderUsername;
                                    $(dateStartStr).datetimepicker();
                                    $(dateEndStr).datetimepicker();
                                    $(dateStartStr).on("dp.change", function (e) {
                                    $(dateEndStr).data("DateTimePicker").minDate(e.date);
                                    });
                                    $(dateEndStr).on("dp.change", function (e) {
                                    $(dateStartStr).data("DateTimePicker").maxDate(e.date);
                                    });
                                };
                                var eldersStr = "#{elders}";
                                var eldersArray = eldersStr.split(",");
                                for (var s = 0; s < eldersArray.length; s++){
                                    var elderUsername = eldersArray[s];
                                    window.onload = switches(elderUsername);

                                }
          .col-md-4.col-sm-6.col-xs-12
            .panel.panel-default
                .panel-heading#with-tabs
                    .navbar-text Trips
                    ul.nav.nav-tabs
                            li.active
                                a(href='#tabTripCurrent_'+item, data-toggle='tab') Current
                            li
                                a(href='#tabTripUpcoming_'+item, data-toggle='tab') Upcoming
                            li
                                a(href='#tabTripRequests_'+item, data-toggle='tab') Requests

                .panel-body.trip-panel-body.elder-panel-body
                    .tab-content
                        div(id ='tabTripCurrent_'+item, class='tab-pane fade in active')
                            ul(id='approvedTrips_'+item).list-groups.list-group-no-padding
                        div(id ='tabTripUpcoming_'+item, class='tab-pane fade')
                            ul(id='upcomingTrips_'+item).list-groups.list-group-no-padding
                        div(id ='tabTripRequests_'+item, class='tab-pane fade')
                            ul(id='tripRequests_'+item).list-groups.list-group-no-padding
    br
    hr    
    .row
        .col-md-3
            .panel.panel-default
                .panel-heading Pending Elders
                .panel-body
                    ul
                        if (elder_requests.length > 0 ) 
                            for item in elder_requests
                                li
                                    h4= item
                        else
                            h4 You do not have any pending elder confirmations at this time.
        .col-md-3
            if(user.role=='caretaker')
            .panel.panel-default
                .panel-heading Add an Elder to your account:
                .panel-body
                    h3= addError
                    form(method="post")
                        h3.label Elder Username*
                        input.form-control(type="text", name="username").required
                        h3.label Elder Phone Number*
                        input.form-control(type="text", name="phone").required
                        br
                        button.btn.btn-lg.btn-primary.btn-block.btn-blue(type='submit') Add Elder
        .col-md-3
            .panel.panel-default
                .panel-heading Current Elders
                .panel-body
                    ul
                        if (elders.length > 0)
                        for item in elders
                            li
                                h4=item
                        else
                            h4 There are no elders under your care at this time.
        .col-md-3
            if(user.role=='caretaker')
            .panel.panel-default
                .panel-heading Remove an Elder from your account:
                .panel-body
                    h4= addError
                    form(method="post",  action=user.username + '/removeElder')
                        h3.label Elder Username*
                        input.form-control(type="text", name="elderUsername").required
                        br
                        button.btn.btn-lg.btn-primary.btn-block.btn-red(type='submit') Remove Elder




